# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv
venv/
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.code-workspace

# Logs
*.log

# Node (por seguranca)
node_modules/
